@media (min-width: 414px) {
  body {
    padding-inline: 16px;
  }

  section,
  .placeholders {
    max-width: 420px;
  }

  .registration,
  .survey,
  .publicData,
  .placeholders {
    padding-inline: 18px;
  }
}
