* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
  padding: 8px;
}

/* HERO / IMAGE */
.hero__image {
  width: 250px;
  border-radius: 8px;
  display: block;
  height: auto;
  margin: 15px auto 15px auto;
}

/* INTRO / OPIS */
.intro {
  text-align: center;
  margin-bottom: 20px;
  max-width: 420px;
  margin: 0 auto;
}

.intro__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.intro__text {
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 0 5px;
}

/* FORMULARZ */
.registration {
  background-color: rgb(60, 96, 163);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  text-align: center;
}

.registration__title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
}

/* FORM */
.registration__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* FORM GROUP */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  padding: 6px 8px;
  text-align: center;
}

.form-group textarea {
  min-height: 60px;
  resize: vertical;
}

/* BUTTON */
.btn-submit {
  background-color: #041333;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.95rem;

  padding: 8px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #1d4ed8;
}
